.navbar {
  max-width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: yellow;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.logo-text {
  color: black;
  font-size: 25px;
  font-family: "Bree Serif";
  font-weight: bold;
}

.navbar-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}

.navbar-item-text {
  columns: black;
  font-size: 25px;
  font-family: "Roboto";
  margin-left: 4px;
}

.link-style {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .navbar-item-text {
    display: none;
  }

  .navbar-items-container {
    padding: 0px;
  }
}
